#Game Settings written by com.jme.app.BaseGame$BaseGameSettings at Tue Jul 15 18:16:43 EDT 2008
#Tue Jul 15 18:16:43 EDT 2008
FREQ=-1
WIDTH=1024
RENDERER=LWJGL
HEIGHT=768
DEPTH=24
FULLSCREEN=false
